hr{
    border-color: black;
    width: 98%;

}
.chk{
    width:40px;
    height:40px;
}


.primary{
    background-color: rgb(236, 114, 17);
    background-image:linear-gradient(rgb(246, 124, 27) 0px, rgb(225, 85, 0));
    color:rgb(209, 204, 204);
    border-bottom-color: rgb(225, 85, 0);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-width:2px;
    border-bottom-style: solid;
    border-image-slice: 100%;
    border-left-color: rgb(225, 85, 0);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(225, 85, 0);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(231, 109, 12);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset;
    color:white;
}
.danger{
    background-color: #f33132;
    color:white;
}
input,select,option,label{
    font-family: Candara, sans-serif;
}

